// Rotating exits – vel-rotateOutUpLeft
// Element rotates out to top-left.

@use "../../base/mixins" as m;
@use "../../base/variables" as *;

@include m.vel-keyframes(velRotateOutUpLeft) {
  from {
    opacity: 1;
    transform-origin: left bottom;
  }

  to {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: left bottom;
  }
}

.vel-rotateOutUpLeft {
  @include m.vel-animation-base(velRotateOutUpLeft);
}

