// Fading entrances – vel-fadeInBottomRight
// Element fades in from bottom-right corner.

@use "../../base/mixins" as m;
@use "../../base/variables" as *;

@include m.vel-keyframes(velFadeInBottomRight) {
  from {
    opacity: 0;
    transform: translate3d($vel-animation-translate-distance-big, $vel-animation-translate-distance-big, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.vel-fadeInBottomRight {
  @include m.vel-animation-base(velFadeInBottomRight);
}

