// Back entrances – vel-backInLeft
// Element enters from left with a slight backward motion.

@use "../../base/mixins" as m;
@use "../../base/variables" as *;

// Keyframes:
// - Starts from left with slight backward motion.
// - Moves forward and right to final position.
@include m.vel-keyframes(velBackInLeft) {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0) scale3d(0.7, 0.7, 0.7);
  }

  80% {
    transform: translate3d(0, 0, 0) scale3d(0.7, 0.7, 0.7);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.vel-backInLeft {
  @include m.vel-animation-base(velBackInLeft);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

